@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e53935;
  --foreground: #ffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header{
  font-size: 24pt;
  padding: 10px;
  background-color: #f87171;
}